.comicsans {
    font-family: "Comic Sans MS", "Comic Sans" !important;
}

@font-face {
    font-family: 'dyslexie';
    src: url('fonts/OpenDyslexic3-Regular.ttf') format('truetype');
}

.dyslexie {
    font-family: 'dyslexie', arial;
    font-size: 20px;
    height: 7%;
    width: 10%;
    border-radius: 0px;
    background-color: #ffff;

}
