.comicsans {
    font-family: "Comic Sans MS", "Comic Sans" !important;
}

@font-face {
    font-family: 'dyslexie';
    src: url('fonts/OpenDyslexic3-Regular.ttf') format('truetype');
}

.dyslexie {
    font-family: 'dyslexie', arial !important;

}

.ozadjekrem {
    background-color: #f9f9d2;
    border-color: #f9f9d2;
}
.ozadjebelo {
    background-color: white;
    border-color: white;
}
.ozadjecrno {
    background-color: black;
    border-color: black;
}

.hobostd {
    font-family: 'hobo';
}
